*{
    font-family: 'math';
}
header {
    background-color: rgb(0, 0, 0);
}

header h1{
    color: white;
    text-shadow:  3px 3px 10px whitesmoke;
    font-style: italic;
}
header nav {
    font-size: 17px;
    background-color: rgb(0, 0, 0);
    border-top: 1px solid white;
    border-top-style: dashed;
    color: white;
    font-family:'Courier New', Courier, monospace;
}
.link{
    text-decoration: none;
    color: white;
}
.link :hover{
    cursor: pointer;
}
.section {
    box-shadow: 10px 15px 30px 5px black;
}
a {
    text-decoration: none;
    color: black;
}
.photo{
    width: 150px;
    height: 150px;
}
#photoKendrick{
    margin-right: -73px;
    margin-top: 26px;
}
.textFooter{
    margin-right: -30px;
}