.header {
    background-color: black;
}
#h1 {
    color: white;
    text-shadow: 2px 2px 10px white;
    font-family: none;
    margin-top: 5px;
}
.titleMain{
    color: black;
    text-shadow: 4px 4px 10px black;
    font-family: none;
    margin-top: 5px;
}
.textMain {
    color: black;
    font-family: 'Times New Roman', Times, serif;

}
.titleFooterSection {
    color: black;
    text-shadow: 4px 4px 10px black;
    font-family: none;
    margin-top: 5px;
}
.button{
    margin-left: 85px;
}

